body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
/* Front-side-Design-Starts */
.home-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #2d25a0;
  height: 677px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  margin-bottom: 70px;
}
.home-page:hover .banner {
  transform: rotate(30deg);
  transform-origin: left right;
}

.title {
  font-size: 70px;
  color: white;
  margin: 207px 102px 27px 256px;
}
a {
  text-decoration: none;
}

.button {
  margin-left: 256px;
  padding: 10px 24px;
  background-color: #e02c6d;
  color: white;
}
.button:hover {
  background-color: blue;
}
.home-image img {
  width: 556.01px;
  height: 438px;
  margin-top: 133px;
  margin-left: 202px;
  margin-right: 141px;
  margin-bottom: 70px;
}
/* Front-side-Design-Starts */

/* Player- Info - Design-Starts */
.container {
  display: flex;
  justify-content: center;
  margin-bottom: 165px;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  margin-right: 210px;
  margin-left: 180px;
}

.player {
  height: 474px;
  width: 330px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img {
  width: 100%;
}
/* Player- Info - Design-Ends */
/* Stadium-Starts */
.stadium-list {
  text-align: center;
  font-size: 60px;
}
.stadiums {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.stadium-img {
  margin: 20px;
}
.stadium-img img {
  width: 100%;
}

.stadium-name {
  font-size: 2em;
}
.stadium-name {
  text-align: center;
}
/* Stadium-Starts */
/* horizontal-line-design */
hr {
  border: 1px solid #d1d1d1;
  width: 807px;
}
/* Watch-Live-Starts */

.watch-live-game {
  margin-bottom: 100px;
}

.watch-live {
  display: flex;
}
.live {
  margin-left: 100px;
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
}
.live iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
.match-schedule {
  box-shadow: 5px 5px 40px silver;
  text-align: center;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 180px;
  padding-right: 150px;
  padding-top: 200px;
  margin-bottom: 100px;
}
.match-time {
  font-size: 50px;
}

/* Watch-Live-Ends */

/* Footer-Design-Starts */

footer {
  text-align: center;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul {
  display: flex;
  justify-content: center;
}

.fa-instagram {
  background-color: silver;
  border: 20px solid silver;
  border-radius: 100%;
  color: white;
  margin-left: 00px;
}
.fa-facebook {
  background-color: silver;
  border: 20px solid silver;
  border-radius: 100%;
  color: white;
  margin-left: 30px;
}
.fa-twitter {
  background-color: silver;
  border: 20px solid silver;
  border-radius: 100%;
  color: white;
  margin-left: 30px;
}
.fa-youtube {
  background-color: silver;
  border: 20px solid silver;
  border-radius: 100%;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
}
/* Footer-Design-Ends */

/* Media Queries-Starts */
@media only screen and (max-width: 481px) {
  .home-page,
  .players,
  .stadiums,
  .watch-live,
  .logo,
  .ul {
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .live {
    width: 90%;
    height: 0;
    margin-left: 20px;
    padding-bottom: 56.25%;
    position: relative;
  }
  .match-schedule {
    box-shadow: 5px 5px 40px silver;
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    margin-bottom: 10px;
  }
  .match-time {
    font-size: 20px;
  }
  .footer-logo {
    width: 325px;
    height: 100px;
  }
  .home-image img {
    width: 329px;
    height: 259px;
    margin-left: 15px;
  }
  .title {
    font-size: 36px;
    color: white;
    margin: 20px;
  }
  .button {
    margin-left: 20px;
    padding: 10px 24px;
  }
}
/* Media Queries Ends */
